@tailwind base;
@tailwind components;
@tailwind utilities;
.ps-sidebar-container {
    overflow: visible !important;
}

.ql-editor {
    min-height: 100px;
}

.readonly .ql-editor {
    min-height: fit-content;
}

.update-comment .ql-editor,
.comment .ql-editor {
    min-height: 70px;
}

.comment .ql-snow {
    border-color: #0070F0 !important;
    border-width: 2px !important;
}

.comment .ql-toolbar.ql-snow {
    border-bottom-color: transparent !important;;
}

.ql-toolbar.ql-snow {
    border-top-right-radius: 12px !important;
    border-top-left-radius: 12px !important;
}
.ql-container.ql-snow {
    border-bottom-right-radius: 12px !important;
    border-bottom-left-radius: 12px !important;
}

.edit-post .ql-toolbar.ql-snow,
.edit-post .ql-container.ql-snow,
.readonly .ql-container.ql-snow {
    border: none;
}

.readonly .ql-editor {
    padding: 0;
}

.ps-submenu-content {
    background-color: transparent !important;
}